@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-montserrat: "Montserrat", sans-serif; 
    --font-inter: "Inter", sans-serif;
    --color-primaryBG: #0B1615;
    --color-darkGreen: #0F1E1C;
    --color-mainGold: #D6C26A;
    --color-darkGold: #94812d;
    --color-notWhite: #F0EDDB;
    --color-greenCabinet: rgba(50, 97, 93, 1);
}

.image-shadow {
    filter: drop-shadow(0px 0px 10px rgba(0,0,0, 1));
    -webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0, 1));
}

.glow-desc-div {
    filter: drop-shadow(0px 0px 15px rgba(50, 97, 93, 1));
    -webkit-filter: drop-shadow(0px 0px 15px rgba(50, 97, 93, 1));
}

.glow-desc-div-mobile {
    filter: drop-shadow(0px 0px 10px rgba(50, 97, 93, 1));
    -webkit-filter: drop-shadow(0px 0px 10px rgba(50, 97, 93, 1));
}

.bg-glow-statistik {
    background-color: rgba(22, 46, 43, 0.6) !important; /* Warna himtika-dark dengan opacity */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.title-text-shadow {
    text-shadow: 1.5px 1.5px 1px #000040;
}